* {
    margin: 0px;
    padding: 0px;
    font-family: 'fonseca', sans-serif;
    background-color: rgb(6, 11, 30);
}

.nav-content > li > a {
    text-decoration: none !important;
    color: white !important;
}

.nav-content > li > a:hover{
    color: rgb(225, 225, 225)!important;
}

@font-face {
    font-family: carousel;
    src: url('../Carousel.ttf');
    font-weight: bold;
  }

nav {
    width: 100%;
    height: 70px;
    /* margin-bottom: 150px; */
}

.image-con {
    height: 160px;
    background: transparent;
}

nav img {
    padding: 20px;
    float: left;
}

.nav-content li {
    float: right;
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 50px;
}

.nav-content {
    padding: 30px;
}

main {
    background-size: cover;
    overflow: hidden;
}

.container{
    margin: auto;
    padding-top: 150px;
    width: 50%;
    text-align: center;
    font-size: 50px;
    background: transparent;

}

#castle {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.hero {
    background-image: url('../images/moon.jpg');
    background-size: cover;
    /* margin-right: 100px; */

}

.hero .container{
    margin-bottom: 150px;
    position: relative;
    z-index: 1;
}

.hero::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    /* background-color: black; */
    position: absolute;
    bottom: 0;
}

.container h1 {
    padding-top: 150px;
    font-family: 'carousel', sans-serif;
    color: rgb(255, 255, 255); 
    text-shadow: -1px 0 navy, 0 1px navy, 1px 0 navy, 0 -1px navy;
    background: transparent;
}
.masked-overflow {
    scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: currentColor transparent; /* foreground background */
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 8px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* If content exceeds height of container, overflow! */
    /* overflow-y: auto; */

    /* Our height limit */
    height: 600px;

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    padding-bottom: var(--mask-height);

    /* Keep some space between content and scrollbar */
    padding-right: 0px;

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );

    /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
}

/* Webkit / Blink */
.masked-overflow::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.masked-overflow::-webkit-scrollbar-thumb {
    background-color: currentColor;
    border-radius: 9999px; /*always round*/
}

.masked-overflow::-webkit-scrollbar-track {
    background-color: transparent;
}
.container img {
    background: transparent;
}

#ghost1{
    float: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 50px;
}

#ghost2{
    float: right;
    margin-right: 50px;
}

.image-con img{
    background: transparent;
}

.container-bncc{
    color: white;
    margin: 50px;
}

.container-bncc > img {
    margin-top: 20px;
    border: 5px solid white;
    border-radius: 10px;
    float: left;
}

.container-bncc > p {
    text-align: justify;
    margin-top: 30px;
    margin-left: 400px;
    
}

.container-card .row .col .card{
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
}